extends layout.pug 
block content
    table.table
        thead.thead-dark
            tr
                th Firstname
                th Lastname
                th EmailAddress
                th Gender
                th Country
                th city
        tbody
            each user in users
                tr
                    td #{user.firstName}
                    td #{user.lastName}
                    td #{user.emailAddress}
                    td #{user.gender}
                    td #{user.country}
                    td #{user.city}
                    td 
                        form(name="deleteproject", method="post", action="/deleteproject")
                        input#input_name(type="hidden", placeholder="", name="_id", value="#{project._id}")
                        button.btn.btn-danger.btn-block(type="submit") delete
